body {
    background-color: #262626;
    margin: 0px;
}

.container {
    width: 1200px;
    float: left;
}

.number {
    width: 1195px;
    height: 197px;
    background-color: #262626;
    border: none;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    margin-top: -25px;
}

button {
    width: 300px;
    height: 88px;
    font-size: 20px;
    margin-left: -4px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #1b1b1b;
    color: #ffffff;
    border: none;
}

.btn-number {
    background-color: #000000;
}

.btn-result {
    background-color: #007c91;
}

button:hover {
    background-color: #313131;
}

.btn-result:hover {
    background-color: #26c6da;
}

.memory {
    width: 80px;
    height: 50px;
    border: none;
    background-color: #262626;
    color: #ffffff;
}

.div-history-memory {
    float: left;
    width: 300px;
    margin-left: 50px;
}

.btn-history-memory {
    width: 120px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #262626;
    border: none;
}

.saved-history-memory {
    background-color: #262626;
    border: none;
    color: #ffffff;
    font-size: 16px;
    width: 323px;
    height: 705px;
    text-align: right;
}

.actual-history {
    background-color: #262626;
    border: none;
    color: #ffffff;
    text-align: right;
    font-size: 16px;
    position: relative;
    top: 55px;
    left: 940px;
    font-size: 18px;
}

.btn-click {
    text-decoration: underline solid #26c6da;
    text-decoration-thickness: 3px;
}

i:hover {
    cursor: pointer;
}

.del-history {
    position: absolute;
    top: 750px;
    left: 1550px;
}

.disabled-button, .disabled-button-operator, .disabled-button-rest {
    color: #494949;
}

.disabled-button:hover {
    background-color: #262626;
    cursor: default;
}

.disabled-button-operator:hover {
    background-color: #1b1b1b;
    cursor: default;
}

.disabled-button-rest:hover {
    background-color: #000000;
    cursor: default;
}

.disabled-del-history {
    pointer-events: none;
}
